<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Datos Personales</title>
  <link href="~/Estilos/Style.css" rel="stylesheet" />
</head>
<body>
    <p align="center">
        <img id="Imagen1" src="~/Img/header2016.jpg" width="900" />
        
    </p>
    <h1>Programacion Web</h1>
    <div class="datos">
        <h2>Ronaldo Hernandez Galvan</h2>
        <p>Septimo Semestre</p>
        <p>Periodo: Agosto-Diciembre</p>
        
    </div>
    <a href="~/Home/MiPerfil">
        <img id="Imagen2" src="~/Img/icono.png" />
    </a>
</body>


