
@{
    ViewData["Title"] = "MiPerfil";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
<link href="~/Estilos/Estilos2.css" rel="stylesheet" />
</head>
<body>


    <div class="perfil">
        <img src="~/Img/Yo.png.jpeg">
        <h4>Ronaldo Hernandez Galvan</h4>
        <h4>Carrera: Ingenieria en Sistemas Computacionales</h4>
        <h4>Semestre: 7</h4>
        <h4>Especialidad: Internet de las cosas</h4>
        <h4>Numero de Control:171G0467</h4>
        <h4>Corréo electrónico: Ronaldo210699@Gmail.com</h4>
        <a href="~/Home">
            Regresar
        </a>

    </div>

 
</body>

